body {
  background-color: aqua;
  width: 100%;
  margin: 0;
}
body .firstSection h1 {
  text-align: center;
  margin-top: 80px;
  font-size: 80px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: chocolate;
}
body .firstSection .playGame {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
body .firstSection .playGame .btnPlayGame {
  width: 120px;
  height: 120px;
  border: 4px solid blue;
  border-radius: 50%;
  font-size: 80px;
}
body .firstSection .playGame .btnPlayGame i {
  color: green;
}
body .mainSection {
  width: 100%;
  display: none;
}
body .mainSection .twoSections {
  display: flex;
}
body .mainSection .twoSections .leftSection {
  width: 50%;
}
body .mainSection .twoSections .leftSection .imgPoint {
  display: flex;
  justify-content: end;
}
body .mainSection .twoSections .leftSection .imgPoint .icon {
  font-size: 50px;
  color: yellow;
  margin-right: 15px;
}
body .mainSection .twoSections .leftSection .imgPoint .points {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: blue;
}
body .mainSection .twoSections .leftSection .rightWord {
  width: 100%;
  height: 4vh;
  margin-top: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .mainSection .twoSections .leftSection .rightWord .text {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: rgb(238, 13, 182);
}
body .mainSection .twoSections .leftSection .buttons {
  margin-top: 100px;
}
body .mainSection .twoSections .leftSection .buttons .btns1 {
  display: flex;
  justify-content: center;
}
body .mainSection .twoSections .leftSection .buttons .btns1 .btn {
  width: 60px;
  height: 40px;
  margin: 10px;
  background-color: greenyellow;
  border: 0;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  color: red;
}
body .mainSection .twoSections .leftSection .wellDone {
  display: none;
  width: 100%;
  height: 36vh;
  background-color: green;
  border: 3px solid black;
  border-radius: 15px;
  margin-top: 60px;
}
body .mainSection .twoSections .leftSection .wellDone .hrWellDone {
  width: 90%;
  height: 5px;
  background-color: black;
  margin-top: 15px;
}
body .mainSection .twoSections .leftSection .wellDone h2 {
  margin: 15px;
  font-size: 40px;
  text-align: center;
  color: white;
}
body .mainSection .twoSections .leftSection .wellDone .imgPoint1 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
body .mainSection .twoSections .leftSection .wellDone .imgPoint1 .icon1 {
  font-size: 50px;
  color: yellow;
  margin-right: 15px;
}
body .mainSection .twoSections .leftSection .wellDone .imgPoint1 .points1 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: blue;
}
body .mainSection .twoSections .leftSection .wellDone .btnStep {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}
body .mainSection .twoSections .leftSection .wellDone .btnStep .nextStep {
  width: 70px;
  height: 70px;
  border: 4px solid blue;
  border-radius: 50%;
}
body .mainSection .twoSections .leftSection .wellDone .btnStep .nextStep i {
  font-size: 30px;
  color: chocolate;
}
body .mainSection .twoSections .leftSection .gameOver {
  display: none;
  width: 100%;
  height: 36vh;
  background-color: red;
  border: 3px solid black;
  border-radius: 15px;
  margin-top: 60px;
}
body .mainSection .twoSections .leftSection .gameOver .hrGameOver {
  width: 90%;
  height: 5px;
  background-color: black;
  margin-top: 15px;
}
body .mainSection .twoSections .leftSection .gameOver h2 {
  margin: 15px;
  font-size: 40px;
  text-align: center;
  color: white;
}
body .mainSection .twoSections .leftSection .gameOver .imgPoint2 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
body .mainSection .twoSections .leftSection .gameOver .imgPoint2 .icon2 {
  font-size: 50px;
  color: yellow;
  margin-right: 15px;
}
body .mainSection .twoSections .leftSection .gameOver .imgPoint2 .points2 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: blue;
}
body .mainSection .twoSections .leftSection .gameOver .gameOverBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}
body .mainSection .twoSections .leftSection .gameOver .gameOverBtns .homeBtn {
  width: 70px;
  height: 70px;
  border: 3px solid green;
  border-radius: 50%;
  margin-right: 40px;
}
body .mainSection .twoSections .leftSection .gameOver .gameOverBtns .homeBtn i {
  font-size: 30px;
  color: chocolate;
}
body .mainSection .twoSections .leftSection .gameOver .gameOverBtns .syncBtn {
  width: 70px;
  height: 70px;
  border: 3px solid blue;
  border-radius: 50%;
}
body .mainSection .twoSections .leftSection .gameOver .gameOverBtns .syncBtn i {
  font-size: 30px;
  color: chocolate;
}
body .mainSection .twoSections .tortureTree {
  position: relative;
  padding-left: 10px;
}
body .mainSection .twoSections .tortureTree .retryNumber {
  margin-bottom: 140px;
  display: flex;
  justify-content: end;
}
body .mainSection .twoSections .tortureTree .retryNumber .imgRetry {
  color: red;
  font-size: 50px;
  margin-right: 15px;
}
body .mainSection .twoSections .tortureTree .retryNumber .countRetry {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: green;
}
body .mainSection .twoSections .tortureTree .topLine {
  width: 13rem;
  height: 10px;
  background-color: black;
  margin-left: 45px;
}
body .mainSection .twoSections .tortureTree .rope {
  position: absolute;
  width: 10px;
  height: 60px;
  background-color: black;
  top: 200px;
  left: 230px;
  display: none;
}
body .mainSection .twoSections .tortureTree .head {
  width: 70px;
  height: 70px;
  border: 4px solid black;
  border-radius: 50%;
  position: absolute;
  top: 260px;
  left: 196px;
  display: none;
  background-color: black;
}
body .mainSection .twoSections .tortureTree .body {
  width: 6px;
  height: 150px;
  background-color: black;
  position: absolute;
  top: 335px;
  left: 230px;
  display: none;
}
body .mainSection .twoSections .tortureTree .arm1 {
  width: 6px;
  height: 70px;
  background-color: black;
  transform: rotate(45deg);
  position: absolute;
  top: 350px;
  left: 205px;
  display: none;
}
body .mainSection .twoSections .tortureTree .arm2 {
  width: 6px;
  height: 70px;
  background-color: black;
  transform: rotate(-45deg);
  position: absolute;
  top: 350px;
  left: 255px;
  display: none;
}
body .mainSection .twoSections .tortureTree .foot1 {
  width: 6px;
  height: 70px;
  background-color: black;
  transform: rotate(45deg);
  position: absolute;
  top: 470px;
  left: 205px;
  display: none;
}
body .mainSection .twoSections .tortureTree .foot2 {
  width: 6px;
  height: 70px;
  background-color: black;
  transform: rotate(-45deg);
  position: absolute;
  top: 470px;
  left: 255px;
  display: none;
}
body .mainSection .twoSections .tortureTree .happyMan {
  width: 200px;
  height: 220px;
  position: absolute;
  top: 355px;
  left: 135px;
  display: none;
  background-color: aqua;
}
body .mainSection .twoSections .tortureTree .cryMan {
  width: 200px;
  height: 220px;
  position: absolute;
  top: 355px;
  left: 135px;
  display: none;
}
body .mainSection .twoSections .tortureTree .mediumLine {
  width: 10px;
  height: 50vh;
  background-color: black;
  margin-left: 45px;
}
body .mainSection .twoSections .tortureTree .bottomLine {
  width: 25rem;
  height: 10px;
  background-color: black;
}
body .lastSection {
  padding-top: 200px;
  height: 529px;
  background-color: red;
  display: none;
}
body .lastSection .lastGameOver {
  text-align: center;
  font-size: 100px;
  color: white;
  margin: 0;
  margin-bottom: 80px;
}
body .lastSection .btnLastSection {
  display: flex;
  justify-content: center;
}
body .lastSection .btnLastSection .btnLast {
  width: 150px;
  height: 150px;
  border: 3px solid black;
  border-radius: 50%;
}
body .lastSection .btnLastSection .btnLast i {
  font-size: 80px;
  color: chocolate;
}/*# sourceMappingURL=style.css.map */